.advantages {
  width: $width;
  margin: 0 auto;
}

.advantages__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.advantages__item {
  width: 300px;
  margin-right: 100px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.advantages__item-image {
  display: block;
  margin-bottom: 24px;
}

.advantages__item-header {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $text-color-dark;
  text-transform: uppercase;
}

.advantages__item-description {
  width: 260px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.advantages__item-button {
  width: 160px;
}
