.contacts {
  position: absolute;
  top: 54px;
  left: 20px;
  width: 320px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;
  background-color: $background-color-white;
}

.contacts__header {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $text-color-dark;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  margin-top: 23px;
  padding: 0;
  padding-left: 1px;
  line-height: 18px;
  color: $text-color-light;
}

.contacts__phone {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  padding-left: 1px;
  line-height: 18px;
  color: $text-color-light;
}

.contacts__button {
  width: 219px;
  margin-top: 37px;
}
