.main-nav__site {
  @include reset-list;
}

.main-nav__site-item {
  &--active {
    border-bottom: 2px solid #fb565a;
  }
}

.main-nav__site-link,
.main-nav__user-link {
  font-weight: 500;
  line-height: 30px;
  color: $text-color-dark;
  text-transform: uppercase;

  &:hover {
    color: #fb565a;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__user {
  @include reset-list;
}

.main-nav__user-item {
  &--active {
    border-bottom: 2px solid #fb565a;
  }
}
