.main-nav__site {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__site-item {
  &--active .main-nav__site-link {
    border-bottom: 2px solid #fb565a;
  }
}

.main-nav__site-link,
.main-nav__user-link {
  font-weight: 500;
  line-height: 30px;
  color: $text-color-dark;
  text-transform: uppercase;

  &[href]:hover {
    color: #fb565a;
  }

  &[href]:active {
    color: rgba(251, 86, 90, 0.3);
  }
}

.main-nav__user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__user-item {
  &--active .main-nav__user-link {
    border-bottom: 2px solid #fb565a;
  }
}

.main-nav__user-link {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 26px;
    background-image: url("/img/cart-icon.svg");
    background-repeat: no-repeat;
  }
}
