.main-nav {
  display: flex;
  justify-content: space-between;
  width: 798px;
  padding-top: 25px;
}

.main-nav__site {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__site-item {
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }

  &--active .main-nav__site-link {
    border-bottom: 2px solid #fb565a;
  }
}

.main-nav__site-link,
.main-nav__user-link {
  padding-bottom: 9px;
  font-weight: 500;
  line-height: 30px;
  color: $text-color-dark;
  text-transform: uppercase;

  &[href]:hover {
    color: #fb565a;
  }

  &[href]:active {
    color: rgba(251, 86, 90, 0.3);
  }
}

.main-nav__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__user-item {
  &--active .main-nav__user-link {
    border-bottom: 2px solid #fb565a;
  }
}

.main-nav__user-link {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 25px;
    background-image: url("/img/cart-icon.svg");
    background-repeat: no-repeat;
  }
}
