.map {
  width: 100%;
  min-width: $width;
  max-width: $max-width;
  margin: 0 auto;
  background-image: url("/img/bg-map.jpg");
  background-repeat: no-repeat;
}

.map__wrapper {
  position: relative;
  width: $width;
  margin: 0 auto;
}

.map__iframe {
  display: block;
  width: 100%;
  border: none;
}
