.page-main {
  margin: 0;
}

.page-main__header {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 109px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: $text-color-dark;
  background-color: $background-color-light;
}
