.page-header {
  width: 100%;
  min-height: 138px;
  margin: 0;
  background-color: $background-color-light;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin: 0 auto;
  padding-top: 49px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
}
