.partners {
  width: $width;
  margin: 0 auto;
}

.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #eeeeee;
}

.partners__logo-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 90px;

  &:hover .partners__logo {
    opacity: 1;
  }

  &:active .partners__logo {
    opacity: 0.1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: -21px;
    display: block;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
    opacity: 1;
  }

  &:nth-of-type(4n)::after {
    display: none;
  }
}

.partners__logo {
  display: block;
  opacity: 0.2;

  &--htmlacademy {
    margin-top: 8px;
  }

  &--mishka {
    margin-top: 3px;
  }
}
