$font-family: "Roboto", "Arial", sans-serif;

$text-color-white: #ffffff;
$text-color-light: #666666;
$text-color-mid: #283136;
$text-color-dark: #000000;

$background-color-white: #ffffff;
$background-color-light: #eeeeee;

$width: 1200px;
$max-width: 1440px;
